<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
       </blacklist>
        <whitelist>
            <directory suffix=".php">app/</directory>
            <exclude>
                <directory suffix=".php">app/Console</directory>
                <directory suffix=".php">app/Events</directory>
                <directory suffix=".php">app/Exceptions</directory>
                <directory suffix=".php">app/Jobs</directory>
                <directory suffix=".php">app/Listeners</directory>
                <directory suffix=".php">app/Providers</directory>
                <directory suffix=".php">app/Http/Controllers/Auth</directory>
                <directory suffix=".php">app/Http/Middleware</directory>
                <file>app/Http/Controllers/Controller.php</file>
                <file>app/Http/Requests/Request.php</file>
                <file>app/Http/Kernel.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    </php>
</phpunit>
