.alert {
    padding: 8px 15px 8px 24px;
    margin-top: 8px;
    margin-bottom: 18px;
    border: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

body {
  padding-top: 25px;
  background-color: #007170;
}

p{
	color: #fff;
}
.content {
  padding: 25px 15px;
  text-align: center;
}
.button{
	padding-top: 10px;
}
.container-fluid{
	color: #fff;
}
.navbar{
	/*opacity: 0.8;*/
	background-color: #292929;
	border: none;
}
.content{
	/*background-color: #333333;*/
	margin-right: 10%;
	margin-left: 10%;
}
.table-container{
	background-color: #B4B4B4;
	padding: none;
}
h1,h2,h3,h4{
	color: white;
}
.heading-container h1{
	color: #393939;
}

.table-container a{
	color: #2E5CB8;
}
a{
	color: #D6AD33;
}

a:hover{
	color: #CC6600;
}

table.home-menu-table{
    margin-left:auto; 
    margin-right:auto;
    width: 55%;
    table-layout: fixed;
}
input{
	color: #fff;
	float: left;
	margin-top: 5px;
	font-family: monospace; 
}
select{
	margin-top: 5px;
	float: left;
	font-family: monospace; 
}
span{
	color: #fff;
}
label{
	color: #CCCCCC;
	float: left;
	margin-top: 5px;
}
.form-container, .box-container{
	background-color: #333333;	
	/*border-radius: 2px;*/
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;	
	/*box-shadow: 10px 10px grey;*/
	-webkit-box-shadow: 32px 32px 0px -5px rgba(31,29,31,1);
	-moz-box-shadow: 32px 32px 0px -5px rgba(31,29,31,1);
	box-shadow: 32px 32px 0px -5px rgba(31,29,31,1);
	
}
.heading-container{
	background-color: #D6AD33;
	/*border-radius: 2px;*/
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 50px;
	margin-right: 50px;	
	margin-top: 30px;
	/*box-shadow: 10px 10px grey;*/
	-webkit-box-shadow: 32px 35px 0px -5px rgba(31,29,31,1);
	-moz-box-shadow: 32px 32px 0px -5px rgba(31,29,31,1);
	box-shadow: 32px 32px 0px -5px rgba(31,29,31,1);
	
}


